{% extends 'base.html' %}
{% load static %}


{% block content %}


        <!-- Modal Search Start -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-75 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Search End -->


        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Cart</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active text-white">Cart</li>
            </ol>
        </div>
        <!-- Single Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Products</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Handle</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for item in cart_items %}
                                <tr>            
                                    <td>{{item.Product.product_name}}</td>
                        
                                    <td>
                                        <img src="{{item.Product.images.url }}" width="100">
                                    </td>
                        
                                    <td>{{item.Product.price}}</td>
                        
                                    <td>
                                        <a href="{% url 'decrement_item' item.Product.id %}">-</a>
                        
                                          {{item.quantity}}
                                        <a href="{% url 'increment_item' item.Product.id %}">+</a>
                                    </td>
                        
                                    <td>{{item.sub_total}}</td>
                        
                                    <td><a href="{% url 'remove_from_cart' item.Product.id %}">
                                        <button class="btn btn-md rounded-circle bg-light border mt-4" >
                                        <i class="fa fa-times text-danger"></i>
                                        </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button"><a href="{% url 'clear_cart' %}">Clear Cart</a></button>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button"><a href="{% url 'shop' %}">Back to Shop</a></button>
                    <button class="btn border-secondary rounded-pill px-4 py-3 text-primary" type="button"><a href="{% url 'place_order' %}">Proceed Checkout</a></button>

                </div>
            </div>
        </div>
        <!-- Cart Page End -->

{% endblock %}